body{
  box: border-box;
}

button[type='submit']{
  margin-left: 5px;
}

.projects-container{
  width: 250px;
  float: left;
}

.project-container{
  margin-top: 2.5rem;
  margin-left: 200px;
}

.diagram-container{
  display: inline-block;
  padding: 20px;
  float: left;
}

.legend{
  position: fixed;
  background-color: #DCDCDC;
  width: 300px;
  top: 0px;
  right: -310px;
  height: 98%;
  overflow-y: scroll;
  padding: 5px;
  transition: right 0.5s;

  &.active{
    right: 0px;
  }

  .title{
    text-align: center;
    text-decoration: underline;
  }
}

.legend-toggle{
  position: fixed;
  right: 0px;
  top: 140px;
  background-color: #DCDCDC;
  border-right: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding-top: 10px;
  transition: right 0.5s;

  &.active{
    right: 310px;
  }
}

.legend-toggle-link{
  text-decoration: none;
  color: black;
  font-size: 24px;
}
